$size-1: 4px;
$size-2: 8px;
$size-3: 16px;
$size-4: 24px;
$size-5: 32px;
$size-6: 48px;
$size-7: 64px;
$size-8: 96px;
$size-9: 128px;
$size-10: 192px;
$size-11: 256px;
$size-12: 384px;
$size-13: 448px;
$size-14: 512px;
$size-15: 640px;
$size-16: 768px;

$medium-screen: 768px;
$large-screen: 1024px;

$gray-1: hsl(41, 15%, 28%);
$gray-2: hsl(40, 12%, 43%);
$gray-3: hsl(39, 12%, 58%);
$gray-4: hsl(39, 16%, 76%);
$gray-5: hsl(39, 21%, 88%);
$gray-6: hsl(39, 25%, 95%);
$gray-7: hsl(40, 27%, 98%);

$height-1: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
$height-2: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
$height-3: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
$height-4: 0 15px 25px hsla(0, 0%, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0%, 0.5);
$height-5: 0 20px 50px hsla(0, 0%, 0%, 0.2);

$purple: hsla(240, 17%, 25%, 1);
$red: hsla(336, 29%, 39%, 1);
$green: hsla(168, 50%, 96%, 1);
$white: hsla(240, 100%, 100%, 1);
$silver: hsla(55, 10%, 75%, 1);


.container-margin {
  margin-top: $size-5;
}
